@media all{

    body{
        background-image: url("https://www.seriouseats.com/2017/02/20170216-detroit-style-pizza-47-1500x1125-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #orderForm{
        border-style: solid;
        border-width: 2px;
        border-color: white;
        background-color: rgba(0, 0, 0, 0.432);
        color: white;
        padding: 20px;
        text-align: center;
        width: 30%;
        margin: 5% 0 0 23%;


    }
    #menuimg{
        width: 50px;
        border-radius: 10%;
    }
    #menuimg:hover{
        transform: scale(5);
        border-radius: 10%;
    }

    #Your-Total {
        margin-left: 60%;
        margin-top: -29%;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        background-color: rgba(0, 0, 0, 0.432);
        color: white;
        padding: 20px;
        width: 30%;
        padding-left: 100px;
    }
    label.product {
        font-weight: 900;
        margin-right: 20px;
        width: 200px;
    }
    label.qtyprice {
        margin-right: 10px;
        width: 120px;
    }
    .line-item {
        display: inline-flex;
    }
    span.totalprice {
        margin-left: 310px;
    }
    #todayDate {
        color: white;
    }
}